body{
    background: url("https://raw.githubusercontent.com/blmadsstar/Final_Project/main/img/background.jpg");
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.466)), url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color:#000;
    float: none;
    height: 90px;
    width: 100%;
    position: fixed;
    text-align: center;
    top:0;
}
.logo img{
    float: left;
    width: 90px;
    height: 85px;
    margin-left: 2%;
}
.nav-ul{
    list-style-type: none;
    margin: 5;
   
}
li{
    height: 70px;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    line-height: 80px;
    padding: 0 50px;
    margin-top:0%;
}
nav li:hover{
    background:#cc0000;
    transition: .3s;
}
section{
    position: relative;
    top: 35%;
    width: 100%;
    z-index: -1;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
h2{
    font-size: 25px;
    width: 30%;
    position: relative;
    left: 35%;
    text-align: center;
}
button{
    width: 200px;
    height: 50px;
    border: 3px solid #cc0000;
    border-radius: 30px;
    position: relative;
    left: 43%;
    font-size: 30px;
    text-align: center;
}
button:hover{
    background:#000;
    border: 3px solid #fff;
    color: #fff;
    transition: .3s;
}
button:active{
    background-color: black;
}
.section{
    background-color: #000;
    position: relative;
    top: 55%;
    height: 230px;
    width: 100%;
}
.copy-text{
    color: #fff;
    padding: 15;
    position: relative;
    text-align: center;
}
.video{
    margin-top: 25%;
}
footer{
    background-color: #000;
    height: 50px;
    bottom: 0;
}
.fab {
    color:#fff;
    height: 40px;
    padding: 15px;
    bottom: 0;
}
.icons{
   text-align: center;
   bottom:0;
}
  
  